Options -Indexes
ServerSignature Off

<FilesMatch ".(gif|jpg|jpeg|png|svg|ico|js|css|json)$">
    Header set Cache-Control "max-age=25920000"
</FilesMatch>

# explicitly disable caching for scripts and other dynamic files
<FilesMatch "\.(php)$">
    Header unset Cache-Control
</FilesMatch>

RewriteEngine On

# Disclosure Authorisation headers to PHP
RewriteRule .? - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Support Angular2 routing
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /index.php [NC,L]