<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About UX</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/showcases">Showcases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact UX Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
        </ul>
    </div>
    <!--<a class="navbar-brand pull-right" href="#">-->
        <!--<img src="../assets/Roche.png" width="63" height="32" alt="">-->
    <!--</a>-->
</nav>
<router-outlet></router-outlet>